@tailwind preflight;

a{
    text-decoration: none;
    @apply text-teal;
}

a:hover{
    text-decoration: underline;
}

.top-nav-item{
    @apply text-sm text-grey-darker mr-4 font-semibold pb-4 border-b-2 border-solid border-transparent;
}

.top-nav-item:hover{
    text-decoration: none;
    @apply text-teal border-teal;
}

.hero {
    background: url('/img/cover.jpg');
}

@tailwind components;
 
@tailwind utilities;